@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css";

/* estilo principal */

.font-fira-code{
    font-family: "Fira code", sans-serif;
}
.font-montserrat{
    font-family: "Montserrat", sans-serif;
}
.font-roboto{
    font-family: "Roboto", sans-serif;
}
ul{
  list-style:nome;
}

#fera{
    background: radial-gradient(48.02% 50% at 50% 50%, #4E0072 0%, #2D0042 100%);
    background-image: url(../assets/img/event_fera.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mw-240{
    max-width: 240px;
}
.font-size-8{
  font-size: 2rem;
}
.bg-pink-500{
    background: #C60177;
}
.bg-gray-100{
    background: #fbfbfb;
}
.bg-blue-500{
  background: #05C7F2 !important;
}
.bg-green-300{
  background: #07F9A0 !important;
}

.cabecalho{
  background:rgba(0,0,0, 0.1);
  z-index: 999;
  backdrop-filter: blur(3px)
}
.cabecalho .active{
  color: #07F9A0;
  border-bottom: #07F9A0 3px solid;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, rgba(0,0,0,.3) 100%);
}
a{
  color:#ffffff !important;
  transform: .4s linear;
}
.text-decoration-none{
  text-decoration: none !important;
}

a:hover{
  color: #b1fbe0 !important;
}

.btn-outline-pink:hover{
    border-color: #C60177;
    background: #C60177;
    color: #FFF; 
}
.btn-outline-pink:active{
    border-color: #C60177 !important;
    background: rgb(198, 1, 119) !important;
    color: #FFF; 
}
.btn-outline-pink:focus{
    border-color: #C60177 !important;
    background: rgb(198, 1, 119) !important;
    color: #FFF; 
    box-shadow: 0 0 0 0.2rem rgba(198, 1, 119, .5) !important; 
}

.destaque{
  background: #C201C6;
  font-size: 1rem;
}



.title-top-box{
    top: -0.8rem;
    left: 1rem;
    background: #fff;
}

.h--50{
    height: 12.5rem;
}
.h--35{
    height: 8.75rem;
}
.p-none{
    padding: 0;
}
.gap-16{
    row-gap: 4rem;
    column-gap: 4rem;
}

.img-full{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.p-6{
    padding: 1.5rem;
}

.gap-8{
  gap: 2rem;
}

.h1{
	color: #ffffff;
	font-family: "Inter", Sans-serif;
}

.container2 div {
	margin: 10px;
	font-size: 18px;
}

.container2 {
	display: flex;
	justify-content: center;
}

.card1 {
	display: flex;
	flex-direction: column;
}

.conteudo-card {
	border-radius: 10px;
}

.btn-line::after, .btn-line::before{
  content: "";
  display: block;
  width: 35%;
  height: 1px;
  background: #05C7F2;
  position: absolute;
  pointer-events: none;
}
.btn-line::before{
  right: 0;
}
.btn-line::after{
  left: 0;
}

.gap-5{
  gap: 1.25rem
}
.row-nowrap{
  flex-wrap: nowrap !important;
}

footer{
  background: #05c7f2;
  color:#fff;
  min-height: 400px;
}
.onda{
  top:-92px
}

@media (min-width: 576px) {
	.gap-sm-2{
		gap: .5rem;
	}
	.gap-sm-8{
		row-gap: 1rem;
		column-gap: 1rem;
	}
	.gap-sm-0{
		gap: 0;
	}
	.gap-row-sm-2{
		row-gap: .5rem;
	}
}
@media (min-width: 768px){
    .h-md-50{
        height: 12.5rem;
    }
    .colunas{
        gap: 1rem;
    }
}
@media (min-width: 992px) {
    .colunas{
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }
 }
