html{
    scroll-behavior: smooth;
}

.banner{
    background: #252525;
    min-height: 650px;
    height: 80vh;
}
.title-line::after {
    content: "";
    width: 10%;
    background-color: #05C7F2;
    height: 1px;
    display: block;
    margin-left: 1rem;
}
.title-line::before {
    content: "";
    width: 10%;
    background-color: #05C7F2;
    height: 1px;
    display: block;
    margin-right: 1rem;
}

.banner-event{
    height: 450px;
}

#natal{
    background: radial-gradient(50% 50% at 50% 50%, #AD4625 0%, #8E0000 100%);
    background-image: url(../assets/img/background_coca.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#game{
    background: radial-gradient(67.6% 50% at 50% 50%, #C201C6 0%, #7733AC 100%);
    background-image: url(../assets/img/event_praia_games.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#game .h2{
    font-family: "Fira code", sans-serif;
    font-weight: 800;
}

.font-fira-code{
    font-family: "Fira code", sans-serif;
}
.font-montserrat{
    font-family: "Montserrat", sans-serif;
}
.font-roboto{
    font-family: "Roboto", sans-serif;
}



#fera{
    background: radial-gradient(48.02% 50% at 50% 50%, #4E0072 0%, #2D0042 100%);
    background-image: url(../assets/img/event_fera.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-game{
    background-color: #5ACC00;
    width: 70%;
    min-width: 250px;
    border-radius: 0;
    box-shadow: 3px 3px 0px #3c8b00;
}
.btn-game:active{
    background-color: #49a800;
}
.mw-240{
    max-width: 240px;
}
.bg-pink-500{
    background: #C60177;
}
.bg-gray-100{
    background: #fbfbfb;
}
.btn-outline-pink{
    border-color: #C60177;
    color: #C60177; 
    font-weight: 500;
}

.btn-outline-pink:hover{
    border-color: #C60177;
    background: #C60177;
    color: #FFF; 
}
.btn-outline-pink:active{
    border-color: #C60177 !important;
    background: rgb(198, 1, 119) !important;
    color: #FFF; 
}
.btn-outline-pink:focus{
    border-color: #C60177 !important;
    background: rgb(198, 1, 119) !important;
    color: #FFF; 
    box-shadow: 0 0 0 0.2rem rgba(198, 1, 119, .5) !important; 
}

.destaque{
    background: #C201C6;
    font-size: 1rem;
}

.card-datas{
    height: 7.5rem;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
.card-datas .header-card{
    background: #05C7F2;
    width: 100%;
    height: 2.375rem;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 6px 16px;
    display: flex;
    gap: 1.5rem;
}
.card-datas .body-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    gap: 12px;
}
.card-datas .header-card span i{
    font-size: 1.5rem;
}
.card-option span i{
    font-size: 2.5rem;
}
.title-top-box{
    top: -0.8rem;
    left: 1rem;
    background: #fff;
}


input[type = radio]{
    display: none;
}
input[type = radio]:checked + label {
    background: #f8f8f8;
    border: 2px solid #07F9A0;
    box-shadow: 0px 0px 0px 4px rgb(7 249 160 / 20%), inset 2px 2px 0px 0px rgb(0 0 0 / 20%)
}
input[type = radio]:checked + label > span i {
    color: #05C7F2;
}
.card-option{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;

    width: 100%;
    height: 8rem;

    background: #fbfbfb;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    border: 2px solid transparent;
    transition: .4s;

    cursor: pointer;
    user-select: none;
}
.card-option:hover{
    border-color: #05C7F2;
}
.card-option span{
    width: 42px;
    height: 42px;
}



.h--50{
    height: 12.5rem;
}
.h--35{
    height: 8.75rem;
}
.p-none{
    padding: 0;
}
.gap-16{
    row-gap: 4rem;
    column-gap: 4rem;
}


.img-full{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.p-6{
    padding: 1.5rem;
}
/* .mx-w-350{
    max-width: 87.5rem;
} */

.colunas{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}
@media (min-width: 576px) {
    .gap-sm-2{
        gap: .5rem;
    }
    .gap-sm-8{
        row-gap: 1rem;
        column-gap: 1rem;
    }
    .gap-sm-0{
        gap: 0;
    }
    .gap-row-sm-2{
        row-gap: .5rem;
    }
}
@media (min-width: 768px){
    .h-md-50{
        height: 12.5rem;
    }
    /* .gap-md-2{
        gap: .5rem;
    }  */
    .colunas{
        gap: 1rem;
    }
}
@media (min-width: 992px) {
    .colunas{
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }
 }